html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

html {
  background-color: #ffffff;
}

body {
  width: auto;
  height: auto;
  margin: 0 auto;
  /* background-color: #c6d1dfee;*/
  padding: 20px 20px 20px 20px;
  /*border: 5px solid black;*/
}
.title {
  height: 100px;
}

.images {
  height : 50px;
  padding: 50px 50px 50px 50px;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  /*text-shadow: 3px 3px 1px black;*/
}

h2 {
  font-size: 35px;
  margin: 0;
  padding: 5px;
  color: #000000;
  text-align: center;  
}

p{
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  text-indent: 420px;
  margin: 0;
  padding: 5px;
  text-align: left;
}

/*----------------Li-------------*/
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  display: inline;
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  display: block;
  padding: 8px;
}


/*-----Contents------*/
.contents{
  height: auto;
  /*padding: 0;*/
  margin:auto;
  display:block;
}

.contents ul {
  line-height: 0;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #333;
}

.contents li a {
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 14px 16px;

}

.links li a:hover:not(.activelink) {
  background-color: #111;
}

.links li a.activelink {
  background-color: #04aaaa;
}

.links{
  line-height: 0;
  padding: 0;  
  margin: auto;
}

.links ul{
  padding: 0px 0px 0px 0px;
}

.navigation ul{
  margin: auto;
}
/*-------Logos-------*/

.logos{
  height: 0
  margin: auto;
}

.logos li {
    line-height: 0;
    display: inline-block;
    float: right;
}

.logos li a:hover:not(.activelink) {
  background-color: rgb(255, 0, 0);
}

.logos ul {
  
}

.logos img{
  width:50px;
  height:50px; 
}


/*--------------Table----------- */
table {
  /* border: 1px solid black;*/
  border:none;
  border-collapse: seperate;  /*collapse*/
  padding: 50px 50px 50px 50px;
  margin-bottom: 30px;
  /*border-style: dashed;*/
  margin-left: auto;
  margin-right: auto;
  /*border-spacing:0 15px;*/
  background-color: rgb(109, 97, 97)
}

table td{
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
}

table th{
  font-size: 28px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}


/*-----------------------------------------------------------------------------*/
.row {
  display: flex; /* equal height of the children */
  background-color: rgb(255, 255, 255);
}

.col-nav {
  flex: 1; /* additionally, equal width */
  padding: 0;
  border: none;
  line-height: 0;
  display: inline-block;
  float: right;
  text-align: center;
  margin: auto;
}

.col-nav img{
  width:  50px;
  height: 50px; 
}

.col-nav li {
padding: 0px;
}

.col-nav li a:hover:not(.activelink) {
  background-color: rgb(197, 197, 197);
  opacity: 0.5;
  display:block;
  text-align: center;
  height: auto;
  text-decoration: none;
  margin:inherit;
  line-height: auto;
  padding: auto;
}


.col-links {
  flex: 1; /* additionally, equal width */
  padding: 0;
  border: none;
  line-height: 0;
  display: inline-block;
  text-align: center;
  margin: auto;
}
.col-links li{
float: right;
}

.col-links img{
  width:  50px;
  height: 50px; 

}

.col-links li a:hover:not(.activelink) {
  background-color: rgb(154, 185, 202);
  
}


/*----------Projects-----------*/

.project {
  
}

.prhead{
  font-size: 35px;
  margin: 0;
  padding: 5px;
  color: #000000;
  text-align: left;

  line-height: 2;
  letter-spacing: 1px;
  text-indent: 420px;
}